<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".StartupGateTestActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <receiver
            android:name=".data.backup.RestoreRelayDebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.promenar.nexara.debug.TEST_RESTORE_RELAY" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.settings.SecretFieldTestActivity" android:exported="false" />
        <activity android:name=".ui.settings.BackupTestActivity" android:exported="false" />
    </application>
</manifest>
