<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.promenar.nexara.share.core.ShareFixtureProvider"
            android:authorities="${applicationId}.sharefixture"
            android:exported="true"
            android:grantUriPermissions="true" />
        <provider
            android:name="com.promenar.nexara.ui.settings.BackupSafFixtureProvider"
            android:authorities="${applicationId}.backupsaffixture"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
